@use "colors" as *;
@font-face {
	font-family: "Poppins";
	src: url("../Assets/Poppins-Regular.ttf") format("truetype");
}
.container {
	h1 {
		width: 184px;
		height: 48px;
		left: 56px;
		margin: 80px 0 0 56px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		color: $color2;
	}
}


#categoriaLeft {
	display: flex;
	position: absolute;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	left: 5.4%;
	top: 53.5%;
	z-index: 1;
	&:hover {
		background-color: $color1;
	}
}
#categoriaRight {
	display: flex;
	position: absolute;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	right: 1%;
	top: 53.5%;
	&:hover {
		background-color: $color1;
	}
}
#barraCard {
	display: inline-flex;
	margin: 56px 20px 0 80px;
	max-width: 1200px;
	min-width: 300px;
	overflow: auto;
	scroll-behavior: smooth;
	position: relative;
	&::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

.barraBotao{
	display: inline-flex;
	position: relative;
}

@media (max-width: 1000px){
	#barraCard{
		max-width: 300px;
	}
}