@use "colors" as *;

@font-face {
	font-family: "Poppins";
	src: url("../Assets/Poppins-Regular.ttf") format("truetype");
}

/* HIDE SCROLLBAR */
.titulo {
	width: 450px;
	height: 48px;
	margin-left: 40px;
	color: $color2;
	font-family: 'Poppins', Courier, monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 48px;
	padding: 14px 16px 13px 21px;
	margin-top: 80px;
}

.wrapper {
	font-family: 'Poppins';
	font-style: normal;
	position: relative;
	max-width: 1230px;
	margin-left: -20px;
}

#barraBlog {
	display: inline-flex;
	margin: 40px 50px 10px 50px;
	height: 440px;
	width: 100%;
	max-width: 1240px;
	overflow: auto;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

.logoPhoto {
	width: 253px;
}

.blogBox {
	display: flex;
	flex-direction: column;
	width: 175px;
	justify-content: center;
	align-items: center;
	border: 1px solid #E5E5E5;
	margin: 0 15px;
	padding: 50px;
	border-radius: 20px;
	z-index: 1;
	background: $color6;
}

.imgBox {
	display: flex;
	margin-left: -12px;
	margin-top: -43px;
	z-index: -1;
	border-radius: 18px 18px 0 0;
}

.textBox {
	background: $color6;
	margin-top: 40px;
	width: 230px;
}

.buttonEnviar {
	box-sizing: border-box;
	margin-top: -50px;
	width: 153px;
	height: 48px;
	background: $color1;
	border: 1px solid $color7;
	border-radius: 10px;
	font-weight: 900;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: $wt;
	margin-bottom: -150px;

	&:hover {
		background-color: $color5;
	}
}

.boxTitulo {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: $color4;
}

.boxDes {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: $color3;
	padding: 16px 0 24px 0;
}

#buttonRight {
	display: flex;
	position: absolute;
	top: 60%;
	background-color: $wt;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.2px solid $color2;
	z-index: 2;
	right: -4.3%;

	&:hover {
		background-color: $color1;
	}
}

#buttonLeft {
	display: flex;
	position: absolute;
	top: 60%;
	background-color: $wt;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.2px solid $color2;
	z-index: 2;
	margin-left: 30px;
	left:0%;

	&:hover {
		background-color: $color1;
	}
}

#blogCard {
	margin-right: 20px;
	background-color: $color6;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: $color3;
	height: 419px;
}

@media (max-width: 1000px){
	#barraBlog{
		margin-left: 100px;
		max-width: 290px;
	}
	#buttonRight {
		right: 18%;
	}
	#buttonLeft {
		left: 10%;
	}
}