@use "colors" as *;

@font-face {
	font-family: "Poppins";
	src: url("../Assets/Poppins-Regular.ttf") format("truetype");
}

/* HIDE SCROLLBAR */
.titulo {
	h1 {
		width: 450px;
		height: 48px;
		margin-left: 56px;
		color: $color2;
		font-family: 'Poppins';
		line-height: 48px;
		padding: 14px 16px 13px 21px;
		margin-bottom: 90px;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
	}
}

.wrapper {
	font-family: 'Poppins';
	font-style: normal;
	position: relative;
}

#barraMarca {
	display: inline-flex;
	margin: 10px 50px;
	height: 178px;
	width: 100%;
	max-width: 1200px;
	overflow: hidden;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

.productName {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: $color2;
	width: 253px;
}

.marcaBox {
	display: flex;
	text-align: center;
	padding: 0 28px;
	width: 178px;
	justify-content: center;
	align-items: center;
	border: 1px solid $color8;
	margin-left: 20px;
	border-radius: 10px;
}

.dePreco {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-decoration-line: line-through;
	color: $color3;
}

.porPreco {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: $color2;
}

.assinantePreco {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: $color1;
}

.paraAssinantes {
	font-weight: 700;
	font-size: 10px;
	line-height: 7px;
	text-align: center;
	color: $color2;
}

.botaoAdicionar {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 220px;
	height: 48px;
	margin-left: 5%;
	margin-top: 5%;
	background: $color1;
	border: 1px solid $color7;
	border-radius: 10px;
	font-weight: 900;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: $wt;
}

#buttonRight {
	display: flex;
	position: absolute;
	top: 65%;
	background-color: $wt;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.2px solid $color2;
	z-index: 2;
	right: 3%;

	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(-5deg, #fff95b 0%, #ff930f 100%);
		transform: translate3d(0px, 2px, 0) scale(0.95);
		filter: blur(10px);
		opacity: var(0.7);
		transition: opacity 0.3s;
		border-radius: inherit;
	}
	&::after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: inherit;
		border-radius: inherit;
	}

	&:hover {
		background-color: $color1;
	}
}

#buttonLeft {
	display: flex;
	position: absolute;
	top: 65%;
	background-color: $wt;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.2px solid $color2;
	z-index: 2;
	margin-left: 17px;
	left: 2.5%;
	box-shadow: inset 10px 33px 25px 0 $color1, inset 10 66px 15px 0px #ccc, inset 0 99px 5px 0px #fff;


	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(-5deg, #fff95b 0%, #ff930f 100%);
		transform: translate3d(0px, 2px, 0) scale(0.95);
		filter: blur(10px);
		opacity: var(0.7);
		transition: opacity 0.3s;
		border-radius: inherit;
	}
	&::after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: inherit;
		border-radius: inherit;
	}


	&:hover {
		background-color: $color1;
	}
}

.botoesBottom {
	display: flex;
	color: $color3;
	align-items: center;
	justify-content: center;
}

#verTodos {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	text-decoration-line: underline;
	color: $color1;
}

@media (max-width: 1000px) {
	#barraMarca {
		margin-top: 0;
		margin-left: 30%;
		max-width: 220px;
	}

	#buttonLeft {
		margin-top: -5%;
		left: 15%;
	}

	#buttonRight {
		margin-top: -5%;
		right: 15%;
	}
	.titulo {
		h1 {
			margin-bottom: 10px;
		}
	}
}